/*styles go here*/

/*p {
    color: red;
}*/

html {
  font-size: 100%;
  background-color: grey;
}

body{
  font-size: 1rem;
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", sans-serif, serif;
  background-color:#ebe3ce;
}

img {border: 0; }

h1{
  weight: bold;
  color: green;
}
.italic {font-style: italic;
  }


p{
  weight:bold;
  color: pink;
  font-style: normal;
}

ul,li {
  color: brown;

}

#container{
    width: 95%;
    background-color: #ffffff;
    margin: 0 auto;
}

#nav a:hover, a:active {
    background-color: #7a991a;
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#header {
    color: black;

  }
  #navigation {
      color: yellow;


#footer {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
